/* Geist Font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

*{
    font-family: "Geist", sans-serif;
}

.btn-primary{
    color: white;
    background-color: #4A00FF;
    box-shadow: none;
}

.badge-error{
    color: #EF4444;
    background-color: #FEECEC;
}

.badge-warning{
    color: #D97706;
    background-color: #FFF8DB;
}

.badge-normal{
    color: #9CA3AF;
    background-color: #EEEFF2;
}

.badge-success{
    color: #00A96E;
    background-color: #DEFCE8;
}

.badge-good{
    color: #7900a9;
    background-color: #f2dbff;
}

.badge-doc{
    color: #0079a9;
    background-color: #dbf2ff;
}

.badge-opened{
    color: white;
    background-color: #00A96E;
}

.badge-closed{
    color: white;
    background-color: #A855F7;
}

.status-open{
    border-top: 4px solid #00A96E;
}

.status-closed{
    border-top: 4px solid #A855F7;
}